:root {
    --first-color: #FFF;
    --second-color: #4D533C;

    --link-color: #FFD723;
    --link-secondary-color: #D4D6D4;
    --pale-black-color: #21384299;

    --footer-background-color: #4F553D;
    --footer-color: #B6C197;
    --hr-color: #5D6544;

    --pale-white-color: #FAFAFA;

    font-size: calc(0.4375em + 0.5vw);
    font-weight: 400;
    color: var(--second-color);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;

    font-family: 'Poppins';
}

h1 {
    color: var(--first-color);

    font-size: 4.7rem;
    font-weight: 700;
    line-height: 5rem;

    margin: 0.37em 0em;
}

h2 {
    color: var(--second-color);

    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.875rem;

    margin: 0 0 1.67em 0;
}

h3 {
    color: var(--second-color);

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.125rem;

    text-transform: uppercase;
}

a {
    color: var(--link-color);
}



/* 
*   Intro section style.
*/

header {
    padding: 1.6em 13em;
    display: flex;
}

.logo,
.company-name {
    height: calc(2vw + 00.4375em);
}

@media (max-width: 550px) {
    header {
        justify-content: center;
    }
}

.intro {
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: 70%;

    height: 110vh;
}

.intro-section {
    color: var(--first-color);

    padding: 20em 5em 6em 5em;
}

.intro-section h1 {
    width: 100%;
}

.intro-section h1+p {
    margin-bottom: 2.8em;
}

@media (min-width: 768px) {
    .intro-section {
        padding: 14em 30em 6em 8em;
    }

    .intro-section h1 {
        width: 10em;
    }
}

@media (min-width: 1280px) {
    .intro-section {
        padding: 7.75em 55em 40em 13em;
    }
}



/* 
*   Deation section style.
*/

.deation {
    padding: 9.3em 3em 10em 3em;
}

.phase-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.phase-card {
    width: 12.125em;

    padding: 30px;
}

.phase-card h3 {
    height: 2.125rem;
    margin: 0 0 0.83em 0;
}

.phase-card p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.625rem;

    height: 82px;
    padding: 1.43em 0 4em 0;

    color: var(--pale-black-color);
}

.phase-card a {
    color: var(--link-secondary-color);
}

.phase-card a:hover {
    color: var(--link-color);
}

@media (min-width: 750px) {
    .deation {
        padding: 9.3em 0 10em 7em;
    }

    .deation h2 {
        width: 16em;
    }
}

@media (min-width: 1020px) {
    .deation {
        padding: 9.3em 10.25em 0em 10.25em;
    }

    .phase-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .deation h2 {
        width: 16em;
    }
}



/*
*   Call to action Section.
*/

.call-to-action {
    background-color: var(--pale-white-color);
    box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);

    padding: 4.375em 18em 4.375em 10.25em;

    position: relative;
    top: 11.875em;
}

.call-to-action h1 {
    color: var(--second-color);

    width: 100%;
    margin-bottom: 0.83em;
}

.call-to-action a {
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: var(--link-secondary-color)
}

.call-to-action a:hover {
    color: var(--link-color);
}

@media (min-width: 1280px) {
    .call-to-action {
        margin-right: 10.3em;
    }

    .call-to-action h1 {
        width: 13.7em;
    }
}



/* 
*   Contancts section.
*/

.all-info {
    background-color: var(--footer-background-color);
    background-image: url('./images/footer-background.svg');
    background-size: cover;

    color: var(--footer-color);
    font-weight: 400;
    line-height: 2.5rem;

    padding: 20em 5em 1.8em 5em;
}

@media (min-width: 768px) {
    .all-info {
        padding: 14em 30em 1.8em 8em;
    }
}

@media (min-width: 1280px) {
    .all-info {
        padding: 19.375em 13em 1.8em 13em;
    }
}

.all-info .highlighted {
    color: var(--first-color);
    font-weight: 700;
}

.all-info .heading {
    text-transform: uppercase;
    margin-bottom: 1.3em;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 28.25em;

    margin-bottom: 3.125em;
}

.social-media-container {
    height: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 3.125em 0;
}

.vl {
    border-top: 1px solid var(--hr-color);
    height: 1px;
    width: 100%;
    margin: 3.125em 0;
}

hr {
    border-top: 1px solid var(--hr-color);
}

.info {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

@media (min-width: 1280px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .vl {
        border-left: 1px solid var(--hr-color);
        width: 1px;
        background-color: var(--hr-color);
    }

    .info {
        width: 41.5em;
    }
}

.web-contacts {
    width: 19.9em;

    display: inline-flex;
    padding-right: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
}

.web-contacts>p {
    line-height: 1.6em;
}

.email {
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.375rem;
}

.social-media-container * {
    height: 2em;
    margin-right: 1em;
}

.social-media-link {
    margin: 0;
    text-decoration: none;
}

.social-media-link:hover img,
.social-media-link:focus img {
    transform: translateY(-0.4em);
}

footer {
    margin: 1.8em 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .logo,
footer .company-name {
    height: calc(1vw + 1em);
}